.container-inicio {
    padding: 2.5rem; /*Espacio interno*/
    margin: 0 3rem;
    max-width: 40rem; /*Evita que se estire demasiado en pantallas grandes*/
    line-height: 2rem; /*Espacio entre renglones*/
    font-size: 1.25rem; /*Tamaño de las letras*/
}
.hola-mundo {
    color: #5aa1e4;
}
.nombre-grupo {
    color: var(--azul-claro);
}
