:root {
    --fondo-color: #0B1E2D; /* Azul para fondo*/
    --azul-oscuro: #1a5b8cfd;/*Azul oscuro (bordes)*/
    --azul-oscuro2: #09273ffa; /*Azul oscuro (tarjetas)*/
    --azul-claro: #3A9BDC;/*Azul claro*/
    --color-texto: #F4F7F9;/*Color de texto principal */
}

/*Imagen*/
/*background-position:105%; Centrar la imagen*/
/*background-size: 40rem; Tamaño del logo*/
/**/
/*Fondo*/
body {

    /*Color y letras de fondo*/
    background-color: #021426; /*Color de fondo*/
    color: var(--color-texto);/*Color de texto general*/
    font-family: 'Montserrat', sans-serif;/*Tipo de letra general*/

    /*Diseño para el fondo*/
    background-image:
    radial-gradient(circle at 82% 55%, rgba(0, 174, 255, 0.2), transparent 30%), /*Brillo en el logo con forma de circulo*/
    linear-gradient(135deg, transparent 70%, rgba(0, 140, 255, 0.15) 70.2%, rgba(0, 140, 255, 0.15) 70.5%, transparent 70.5%), /*Línea diagonal */
    linear-gradient(315deg, transparent 80%, rgba(0, 140, 255, 0.1) 80%, rgba(0, 140, 255, 0.1) 80.5%, transparent 80.5%), /*Otra línea diagonal en la esquina contraria*/
    linear-gradient(135deg, #000000, #021426, #000000); /*Degradado de fondo*/

    background-repeat: no-repeat; /*Esto es para que no se repita el diseño del fondo*/
    min-height: 100vh; /*Para que ocupe toda la pantalla*/
}
/**/
/* Encabezado */
.encabezado {
    display: flex;/*Aplico flex al encabezado*/
    justify-content: space-between;/*Distribucion de el contenido*/
    align-items: center;/*Centrar items */
    margin: 0 1rem;/*Margen*/
    border-bottom: 1px solid var(--azul-claro);/*Linea para liminar el encabezado*/
}
.encabezado p {
    font-family: monospace; /*Tipo de letra para el nombre del encabezado*/
    font-size: 1.25rem; /*Tamaño de letra*/
}
.diseño-p {
    color: var(--azul-claro); /*Diseño para el nombre del encabezado*/
}
.navigation {
    display: flex; /*Flex para la navegacion*/
    gap: 5rem; /*Distancia entre las etiquetas*/
    list-style: none;/*Quitar el estilo predeterminado de las etiquetas */
}
.contactar {
    list-style: none;
    padding: 9px 12px; /*Espacio interno para el boton*/
    border-radius: 1rem; /*Borde redondeado*/
    font-weight:600; /*Ancho de las letras para que no se pierdan en el fondo*/
    color: var(--fondo-color);
    background-color: #5aa1e4; /*Color de fondo para el boton*/
}

a {
    text-decoration: none;
    color: var(--color-texto);
}

.inicio {
    display: flex;
    align-items: center; /*Centrar*/
    min-height: 80vh; /*Altura de la seccion en la pantalla*/
}
h1 {
    font-size: 5.25rem; /*Tamaño de la letra*/
    line-height: 4.75rem; /*Espacio entre renglones*/
}
.diseño-h1 {
    color: var(--azul-claro); /*Color de la letra*/
}
.logo {
    width: 32rem; /*Anchura de la imagen*/
    height: 25rem; /*Altura de la imagen*/
}

/**/
@media (max-width: 768px) {
    .encabezado {
        flex-wrap: wrap; /*Acomoda los elementos en una linea, saltea linea si es necesario*/
        justify-content: center; /*Centra el contenido*/
        gap: 1rem; /*Espacio entre los items*/
        padding: 1rem 0; /*Espacio interno*/
    }
    .navigation {
        gap: 1.5rem; /*Espacio entre etiquetas*/
        padding: 0; /*Espacio interno para acomodar*/
        margin: 0;
    }
    body {
        background-size: 40rem; /*Tamaño de la imagen de fondo*/
        background-position: center; /*Centra la imagen de fondo*/
    }
    .inicio .container-inicio {
        padding: 1rem; /*Espacio interno para la tarjeta*/
        font-size: 1rem; /*Tamaño del contenido*/
    }
}